$skyblue: rgb(62, 135, 208);


@media screen and (max-width:829px){

  footer{
    width: 100vw;
    box-shadow: 0 0 20px grey;
    
    .footer-top{
      padding: 20px 30px 0;
      background-color: $skyblue;
      
      .footer-company-info{
        margin: 0 25%;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        padding: 0;
          
        li{
          height: 45px;
          width: 45px;
          font-size: 13px;
          border-radius: 100px;
          color: white;
          border: solid 1px white;
          text-align: center;
          line-height: 45px;
          margin-right: 4%;
          font-family: 'Squada One', cursive;
          
          a{
            color: white;
            text-decoration: none;
            
            .fa-phone{
              transform: rotate(105deg);
            }
          }
          .hoverAnime{
            animation: hoverAnime 1s forwards;
          }
          &:hover{
            animation: hoverAnimeBack 1s forwards;
          }
        }
      }
    

      .footer-logo{
        margin: 85px auto 0;
        text-align: center;
      }

      .footer-contact{
        margin-top: 20px;
        text-align: center;
        font-size: 13px;
        color: white;
        font-family: 'Noto Serif JP', serif;

        .contact-link{
          padding: 15px 44px;
          line-height: 70px;
          background-color: rgba(0, 0, 0, .5);
          color: white;
          text-decoration: none;
          transition: box-shadow 1s;
          
          &:hover{
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
          }
          
        }
        p{margin: 0;}
      }
    }


    .footer-bottom{
      height: 195px;
      width: 100vw;
      text-align: center;
      box-shadow: 0px 0px 5px inset;

      .company-infomartion{
        padding: 20px 0;
        font-size: 12px;
        font-family: 'Noto Serif JP', serif;

          .footer-name{
            margin-bottom:8px;
          }
      }
    }
  }
}