$skyblue: rgb(62, 135, 208);

@media screen and (max-width:829px) {

  header{
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    width: 100vw;
    top: 0;

    .top-info{
      height: 25px;
      background-color: $skyblue;
      display: flex;
      justify-content: flex-end;
      font-family: 'Noto Serif JP', serif;
      
      .company-name{
        font-size: 12px;
        font-weight: lighter;
        margin: 3px 0 3px 10px;
        color: white;
      }
      
      .company-tel{
        list-style: none;
        margin: 3px 10px 0px 10px;
        font-size: 12px;
        padding: 0;
        a{
          color: white;
          text-decoration: none;

          .fa-phone{
            transform: rotate(105deg);
            font-size: 10px;
            border-radius: 100px;
            color: $skyblue;
            background-color: white;
            border: solid 2px white;
          }
        }
      }
    }


    .header-object{
      height: 40px;
      padding: 10px 5% 0 5%;
      display: flex;
      background: rgba(255, 255, 255, .7);
      justify-content: flex-end;

      nav{
        display: none;
        position: absolute;
        top: 25px;
        right: 0%;
        background-color: rgba(0, 0, 0, .4);

        ul{
          padding: 0;
          margin-top: 100px;

          li{
            list-style: none;

            img{
              display: none;
            }
            
            a{
              text-decoration: none;
              color: white;
              text-align: center;
              
              .nav-text{
                font-size: 20px;
                font-weight: bold;
                font-family: 'M PLUS 1p', sans-serif;
              }
            }
          }
          .DeleyNav{animation: delayNav 1s forwards}
        }
      }
      .mobile-nav{
        display: block;
        animation: navAnime .4s forwards;
        height: 100vh;
      }

      .menu-btn{
        position: relative;
        width: 30px;
        height: 30px;

        .block{
          position: absolute;
          width: 20%;
          height: 20%;
          background-color: $skyblue;
        }
        .opacity{
          animation: opacityAnime 1s forwards;
        }
        .opacityOn{
          animation: opacityOnAnime 1s forwards;
        }

        @mixin blockPotition($top, $left) {
          top: $top;
          left: $left;
        }

        #block-1{@include blockPotition(0, 0)}
        #block-2{@include blockPotition(0, 40%)}
        #block-3{@include blockPotition(0, 80%)}
        #block-4{@include blockPotition(40%, 0)}
        #block-5{@include blockPotition(40%, 40%)}
        #block-6{@include blockPotition(40%, 80%)}
        #block-7{@include blockPotition(80%, 0)}
        #block-8{@include blockPotition(80%, 40%)}
        #block-9{@include blockPotition(80%, 80%)}
      }
    }
  }
}