
$skyBlue: rgb(62, 135, 208);
html, body{
  margin:0;
}

@mixin title($imgUrl, $position, $background){
  .title {
    background-image: $imgUrl;
    background-size: cover;
    background-position: $position;  
    height: 65px;
    width: 100vw;
    margin-left: -12.4%;

    .title-cover{
      background-color: $background;
      height: 100%;
    }
    p{
      font-size: 33px;
      line-height: 65px;
      margin: 0;
      font-weight: bold;
      color: white;
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
      }
  }
}
//日本語
// font-family: 'Noto Serif JP', serif;
//可愛い
// font-family: 'M PLUS 1p', sans-serif;

//英語
// font-family: 'Fjalla One', sans-serif;
//可愛い
// font-family: 'Squada One', cursive;

@media screen and (max-width:829px){
  .breadcrumbs{
    position: fixed;
    top: 23px;
    font-size: 12px;
    padding-left: 1%;
    font-weight: bold;
    font-family: 'M PLUS 1p', sans-serif;
    color: gray;
      a{
        color: gray; 
        text-decoration: none;
      }
  }

  .home{
    
    .home-main{
      .mainLogo{
        width: 100vw;
        margin-top: 27px;
      }
    }
    .slogan{
      width: 80%;
      margin: auto;
      background-color: transparent;
      background-image: repeating-linear-gradient(45deg, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, .3) 3px, transparent 0, transparent 6px);

      @include title(url("https://images.unsplash.com/photo-1503640538573-148065ba4904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"), 0px 33%, rgba(60, 135, 210, .85));

      .slogan-content{
        display: flex;
        flex-direction: column-reverse;

        .slogan-img{
          height: 170px;

          .image1{
            background-image: url("https://images.unsplash.com/photo-1503640538573-148065ba4904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
            background-size: cover;
            background-position: 100% 50%;
            width: 170px;
            height: 160px;
            border-radius: 100%;
            border: solid 2px lightgrey;
            margin: -10px 0 0 -15px;
          }
          .image2{
            background-image: url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
            background-size: cover;
            background-position: 100% 50%;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            border: solid 2px lightgrey;
            margin: -170px 0 0 110px;
          }
        }

        .slogan-text{
          font-weight: bold;
          h1{
            width: 119%;
            font-size: 27px;
            -webkit-text-stroke: .4px gray;
            color: white;
            margin: 0 0 0 -30px;
            font-family: 'M PLUS 1p', sans-serif;
            text-align: center;

            .mobile-br{
            }
            .mobile-br::before{
              content: "”";
              color: $skyBlue;
              font-size: 55px;
            }
            .mobile-br::after{
              content: "”";
              color: $skyBlue;
              font-size: 55px;
              margin-left: -5px;
            }
            .mobile-br2{
              display: inline-block;
            }
          }


          .example{
            color: #333333;
            font-size: 14px;
            margin: 12px 10px;
            font-family: 'Kosugi Maru', sans-serif;
          }
          .company-info{
            color: #333333;
            font-size: 14px;
            margin: 20px -15px;
            line-height: 30px;
            font-family: 'Kosugi Maru', sans-serif;
            text-align: center;
            .mobile-br{
              white-space: nowrap;
            }
            .text-point{
              font-size: 20px;
              color: $skyBlue;
              -webkit-text-stroke: .2px $skyBlue;
            }
          }
        }
      }
      
    }

    .message{
      height: 60vh;
      width: 80%;
      margin: auto;
      background-color: transparent;
      background-image: repeating-linear-gradient(45deg, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, .3) 3px, transparent 0, transparent 6px);


      @include title(url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"), 0 44%, rgba(40, 127, 210, 0.8))
    }

    .sns-conect{
      width: 80%;
      margin: auto;
      background-color: transparent;
      background-image: repeating-linear-gradient(45deg, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, .3) 3px, transparent 0, transparent 6px);

      @include title(url("https://images.unsplash.com/photo-1572175428143-3a40195b0c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"), 0 90%, rgba(40, 127, 220, 0.8));

      .twitter{
        margin: 40px 20px;
      }
    }
  }
}