<footer>
  <div class="footer-top">
    <ul class="footer-company-info">
      <li class="infos">
        <a href="https://twitter.com/keihanna_kanko", aria-label="ツイッターへ"><i class="fab fa-twitter"></i></a>
        <p style="transform: rotate(90deg); white-space: nowrap">Twitter</p>
      </li>

      <li class="infos">
        <a href="https://www.instagram.com/keihanna.kanko/?hl=ja", aria-label="インスタグラムへ"><i class="fab fa-instagram"></i></a>
        <p style="transform: rotate(90deg); white-space: nowrap">Instagram</p>
      </li>
      
      <li class="infos">
        <a href="tel:0774934567" aria-label="会社の電話番号にかける"><i class="fas fa-phone"></i></a>
        <p style="transform: rotate(90deg)">TEL</p>
      </li>
    </ul>

    <p class="footer-logo"><img src="<%= asset_path "Type-Bけいはんな観光フォントロゴ.png"%>", style="width: 73%;", alt= "けいはんな観光フォントロゴ" /></p>

    <div class="footer-contact">
      <p>お電話での受付時間 
      <br>月曜日-金曜日 9:00-17:00 まで</p>
      
      <a href="/mains/contact" class="contact-link">お問い合わせページ</a>
    </div>
  </div>

  <div class="footer-bottom">

    <div class="company-infomartion">
      <p class="footer-name">けいはんな観光株式会社</p>
      <p>〒574-0046 京都府精華町大字東畑小字南山中26番地1</p>
      <p>TEL:0774-93-4567 / FAX:0774-03-0969</p>
    </div>

  </div>


</footer>