<footer>
  <div class="footer-top">
    <ul class="footer-company-info">
      <li class="infos">
        <a href="/mains/recrit"><i class="fab fa-twitter"></i></a>
        <p style="transform: rotate(90deg); white-space: nowrap">Twitter</p>
      </li>

      <li class="infos">
        <a href="mailto:viva@viva111.co.jp"><i class="fab fa-instagram"></i></a>
        <p style="transform: rotate(90deg); white-space: nowrap">Instagram</p>
      </li>
      
      <li class="infos">
        <a href="tel:08046477147"><i class="fas fa-phone"></i></a>
        <p style="transform: rotate(90deg)">TEL</p>
      </li>
    </ul>


    <p class="footer-logo"><img src="/images/Type-Bけいはんな観光フォントロゴ.png" alt="" style="width: 73%;"></p>

    <div class="footer-contact">
      <p>お電話によるお問い合わせ受付時間 
      <br>月曜日-金曜日 10:00-18:00 まで</p>
      
      <a href="/contacts/new" class="contact-link">お問い合わせフォーム</a>
    </div>
  </div>

  <div class="footer-bottom">

    <div class="company-infomartion">
      <p class="footer-name">けいはんな観光株式会社</p>
      <p>〒574-0046 大阪府大東市赤井 1-15-15 SKビル 3F</p>
      <p>TEL:080-4647-7147 / FAX:072-344-5884</p>
      <p>E-mail: viva@viva111.co.jp</p>
    </div>

  </div>


</footer>