<header>
  <div class="top-info">

    <p class="company-name">
      けいはんな観光株式会社
    </p>
    
    <div class="company-tel">
      <a href="tel:0774934567"><i class="fas fa-phone"></i> 0774-93-4567</a>
    </div>
  </div>


  <div class="header-object">

    <nav class="header-nav">
      <ul>
        <li>
          <img  src="/images/Type-Bけいはんな観光ロゴカラー.png" class="headerLogo"/>
        </li>
        
        <li>
          <a href="/">
            <p class="nav-text">
              HOME
            </p>
          </a>
        </li>

        <li>
          <a href="/mains/contact">
            <p class="nav-text">
              お問い合わせ
            </p>
          </a>
        </li>
      </ul>
    </nav>

    <div class="menu-btn">
      <div class="block" id="block-1"></div>
      <div class="block" id="block-2"></div>
      <div class="block" id="block-3"></div>
      <div class="block" id="block-4"></div>
      <div class="block" id="block-5"></div>
      <div class="block" id="block-6"></div>
      <div class="block" id="block-7"></div>
      <div class="block" id="block-8"></div>
      <div class="block" id="block-9"></div>
    </div>
    
  </div>
</header>