<div class="side-sns">
    <ul class="side-object">
      <li class="side-link">
        <a href="/mains/recrit"><i class="fab fa-twitter"></i></a>
      </li>

      <li class="side-link">
        <a href="mailto:viva@viva111.co.jp"><i class="fab fa-instagram"></i></a>
      </li>
      
      <li class="side-link">
        <a href="tel:08046477147"><i class="fas fa-phone"></i></a>
      </li>
    </ul>
</div>