<div class="side-sns">
    <ul class="side-object">
      <li class="side-link">
        <a href="https://twitter.com/keihanna_kanko"><i class="fab fa-twitter"></i></a>
      </li>

      <li class="side-link">
        <a href="https://www.instagram.com/keihanna.kanko/?hl=ja"><i class="fab fa-instagram"></i></a>
      </li>
      
      <li class="side-link">
        <a href="tel:0774934567"><i class="fas fa-phone"></i></a>
      </li>
    </ul>
</div>