<%= javascript_pack_tag 'main' %>

<%# headerレンダー %>
<%= render partial: "/shared/header"%>
<%= render partial: "/shared/side_sns"%>

<div class="contact-page">
  <div class="info-introduce">
    <div class="info-h">
      <h1 class="info-h1">Contact</h1>
      <h2 class="info-h2">- お問い合わせ -</h2>
    </div>

    <p>旅行の事ならなんでもご相談ください。
      <br>お問い合わせは電話での対応とさせていただいています
      <br>画面右の電話マークを押していただけるとそのまま通話することができます。
    </p>

  </div>

  <div class="contact-view">

    <div class="contact-p">
      電話の場合 （受付時間月曜日-金曜日 10:00-18:00 まで）
      <br>TEL 0774-93-4567
    </div>

    <div class="contact-p">
      FAXの場合
      <br>0774-03-0969
    </div>

    <%# <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.1951266850947!2d135.74632641526674!3d34.75067718804754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600122b2351a8827%3A0x2e10c3e2af17b80c!2z44CSNjE5LTAyMzUg5Lqs6YO95bqc55u45qW96YOh57K-6I-v55S65aSn5a2X5p2x55WR5Y2X5bGx5Lit77yS77yW!5e0!3m2!1sja!2sjp!4v1595569295133!5m2!1sja!2sjp" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="googleMap"></iframe>
      <div class="map-info">
        <i class="fas fa-car"></i>
        <p class="access-h">静岡方面からお車でお越しの場合</p>
        <p class="access-text">大阪府大東市赤井 1-15-15 SKビル 3F~~~</p>
      </div>
    </div>
    </div> %>

  </div>

</div>

<%# footerレンダー %>
<%= render partial: "/shared/footer"%>