<%= javascript_pack_tag 'main' %>

<%# headerレンダー %>
<%= render partial: "/shared/header"%>
<%= render partial: "/shared/side_sns"%>

<div class="recrit">
      <div class="recrit-main">
        
      </div>


      <div class="message">

        <div class="title">
          <div class="title-cover">
          <p>Message</p>	
        </div>

      </div>

</div>

<%= render partial: "/shared/footer"%>